
    <header class="header">
        <nav class="nav">
            <a href="/" class="logo nav-link">Sneakers</a>

            <div class="wrapper">
                <input type="text" class="input" 
                placeholder="¿Que desea buscar?">
                <div class="searchbtn"><i class="fas fa-search"></i></div>
            </div>

            <input type="checkbox" id="ckbox">
            <label for="ckbox" class="drawer">
                <i class="fas fa-bars" aira-hidden="true"></i>
            </label>

            <ul class="nav-menu">
                <li class="nav-menu-item"><a href="/log-in" class="nav-menu-link nav-link">Ingresá</a></li>
                <li class="nav-menu-item"><a href="/register" class="nav-menu-link nav-link">Registrate</a></li>
                <li class="nav-menu-item"><a href="/carrito" class="nav-menu-link nav-link">Carrito</a></li>
            </ul>
        </nav>
    </header>
