<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body class="grid-container">
        <%- include('./partials/header')%>
        <main>
            <section class="formularios-admin">
                <form action="/admin/create" method="GET" class ="form-box-admin" >
                    <input type="submit" value="CREAR PRODUCTO">
                </form>

                <form action="/admin/products" method="GET" class ="form-box-admin">
                    <input type="submit" value="EDITAR PRODUCTO">
                </form>

                <form action="/delete" method="GET" class ="form-box-admin">
                    <input type="submit" value="ELIMINAR PRODUCTO">
                </form>
                
            </section>
        </main>
        <%- include('./partials/footer') %>        
    </body>
</html>