<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>

    <body class="grid-container">
        <header class="header">
            <nav class="nav">
                <a href="/" class="logo nav-link">Sneakers</a>
    
                <div class="wrapper">
                    <input type="text" class="input" 
                    placeholder="¿Que desea buscar?">
                    <div class="searchbtn"><i class="fas fa-search"></i></div>
                </div>
    
                <input type="checkbox" id="ckbox">
                <label for="ckbox" class="drawer">
                    <i class="fas fa-bars" aira-hidden="true"></i>
                </label>
    
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a href="/log-in" class="nav-menu-link nav-link">Ingresá</a></li>
                    <li class="nav-menu-item"><a href="/register" class="nav-menu-link nav-link">Registrate</a></li>
                    <li class="nav-menu-item"><a href="/carrito" class="nav-menu-link nav-link">Carrito</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                    <form action="/" method="POST" class ="form-box">
                    <h1 class="title">Crear Producto</h3>
                    <input type="text" name="name" placeholder="Nombre" required>
                    <input type="text" name="surname" placeholder="Descripción" required>
                    <input type="text" name="user" placeholder="Imagen" required>
                    <input type="password" name="pass" placeholder="Categoría" required>
                    <input type="password" name="pass" placeholder="Colores" required>
                    <input type="password" name="pass" placeholder="Precio" required>
                    <input type="submit" value="Enviar">
                    </form>

                    <form action="/" method="POST" class ="form-box">
                        <h1 class="title">Editar Productos</h3>
                        <input type="text" name="name" placeholder="Nombre" required>
                        <input type="text" name="surname" placeholder="Descripción" required>
                        <input type="text" name="user" placeholder="Imagen" required>
                        <input type="password" name="pass" placeholder="Categoría" required>
                        <input type="password" name="pass" placeholder="Colores" required>
                        <input type="password" name="pass" placeholder="Precio" required>
                        <input type="submit" value="Enviar">
                        </form>



                    </section>
            
                </main>
                <%- include('./partials/footer') %>        
                

        


    </body>

</html>