<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body class="grid-container">

    <%- include('./partials/header') %>

    <main>

        <div class="productos-seleccionados-main">

            <section class="compra">
                <article class="producto-individual-carrito">             
                    <img src="/images/products/nike-flyEase.jpg" alt="Nike FlyEase" class="product_img">
                    <div class="product">
                     <h4 class="description">Nike FlyEase</h4>
                      <p class="price">$45.000</p>
                    </div>
                </article>
                <article class="precio-general-carrito">
                   <article class="resutado-compra">
                        <div class="precio-total">
                            <div class="texto-carrito">
                                <h3>RESUMEN</h3>
                                <p>$45.000</p>
                            </div>
                            <div class="texto-carrito">
                                <h3>SUBTOTAL</h3>
                                <p>$500</p>
                            </div>
                            <div class="texto-carrito">
                                <h3>TOTAL</h3>
                                <p>$45.500</p>
                            </div>
                        </div>
                        <form action="/" method="POST">
                            <input type="submit" value="Enviar" class="boton-compra">
                        </form>
                    </article>
                </article>
            </section>
            <section class="ultimos-productos">          
                <h3>PRODUCTOS DESTACADOS</h3>
                <div class="products">
                    <article class="producto-individual">
                        <a href="/products/1">
                            <img src="images/products/nike-flyEase.jpg" alt="Nike FlyEase" class="product_img">
                            <div class="product">
                                <h4 class="description">Nike FlyEase</h4>
                                <p class="price">$45.500</p>
                            </div>
                        </a>
                    </article>
                    <article class="producto-individual">
                        <a href="/products/2">
                            <img src="images/products/nike-air-max.jpg" alt="Nike Air Max" class="product_img">
                            <div class="product">
                                <h4 class="description">Nike Air Max</h4>
                                <p class="price">$16.000</p>
                             </div>
                        </a>
                    </article>
                    <article class="producto-individual">
                        <a href="/products/3">
                            <img src="images/products/nike-air-force-1.jpg" alt="Nike Air Force" class="product_img">
                            <div class="product">
                                <h4 class="description">Nike Air Force</h4>
                                <p class="price">$16.500</p>
                            </div>
                        </a>
                    </article>
                    
                </div>
            </section>
        </div>
    </main> 

        
    
    
        <%- include('./partials/footer') %>
    

</body>
</html>