<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body class="grid-container">

    <%- include('./partials/header') %>

    <main>
        <h2 style="margin: 20px 0">Carrito</h2>
        <div style="display: flex;">
        <div class="flex-box-c">
            <div class="left-c">
                <div class="img">
                    <img src="/images/products/nike-air-max.jpg" alt="Nike Air Max">
                </div>
            </div>

            <div class="right">
                <div class="pname">Nike Air Max</div>
                <div class="description-p">
                    color: negro  talle: 42
                </div>
                <div class="price">$25.000</div>
            </div>
            <div class="left-c">
                <div class="img">
                    <img src="/images/products/nike-air-max.jpg" alt="Nike Air Max">
                </div>
                <div class="right">
                    <div class="pname">Nike Air Max</div>
                    <div class="description-p">
                        color: negro  talle: 42
                    </div>
                    <div class="price">$25.000</div>
                </div>
            </div>           
        </div>
        <div>
            <h3>TOTAL A PAGAR: $50.000</h3>
            <div class="btn-box">
                <button class="buy-btn">Comprar ahora</button>
            </div>
        </div>
        </div>
    </main> 

        
    
    
        <%- include('./partials/footer') %>
    

</body>
</html>