<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %>
    <main>
        <form action="/" method="POST" class ="form-box-admin" >
            <h1 class="title">Crear Producto</h3>
            <input type="text" name="name" placeholder="Nombre" required>
            <div>
                <input type="text" name="surname" placeholder="Descripción" required>
            <label for="">Elija una o más imágenes</label>
            </div>
            <input type="file" name="image" placeholder="Imagen" required>
            <input type="text" name="category" placeholder="Categoría" required>
            <input type="text" name="color" placeholder="Colores" required>
            <input type="text" name="price" placeholder="Precio" required>
            <input type="submit" value="Enviar">
        </form>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>