<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %>
    <main>
        <form action="/products/<%= productToEdit[0].id %>/edit?_method=PUT" method="POST" class ="form-box-admin" enctype="multipart/form-data">
            <h1 class="title">Editar Producto</h3>
                <input type="text" name="brand" placeholder="Marca" required>
                <input type="text" name="model" placeholder="Modelo" required>
                <input type="text" name="description" placeholder="Descripción" required>
                <input type="text" name="type" placeholder="Tipo" required>
                <input type="number" name="size" placeholder="Talle" required>
                <input type="text" name="color" placeholder="Colores" required>
                <label for="">Elija una o más imágenes</label>
                <input type="file" name="image" placeholder="Imagen" required>
                <input type="text" name="price" placeholder="Precio" required>
                <input type="submit" value="Enviar">
        </form>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>