<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sneakers Arg</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    
</head>
<body>
    <header>
        <div class="top-header">

            <!-- LOGO -->
            <div class="logo">
            <img src="/images/icono.png" alt="logo">
        
            <!-- BARRA DE BUSQUEDA -->

            <div class="wrapper">
                <input type="text" class="input" 
                placeholder="¿Que desea buscar?">
                <div class="searchbtn"><i class="fas fa-search"></i></div>
            </div>
            <!-- BARRA MENU -->
            <div class="menu">
                <ul>
                    <li><a href="/log-in">Ingresá</a></li>
                    <li><a href="/register.html">Registrate</a></li>
                    <li><a href="/carrito.html">Carrito</a></li>

                </ul>
            </div>
        </div>
    </header>
    <main>
        <img src="/images/portada.jpg" alt="Portada" class="portada_1">

        <!-- ULTIMOS PRODUCTOS -->

        <section class="ultimos-productos">
            <h3>ULTIMOS PRODUCTOS</h3>
            <div class="products">
                <article class="producto-individual">
                    <img src="images/nike-air-max.jpg" alt="Nike Air Max" class="product_img">
                    <div class="product">
                        <p class="price">$16.000</p>
                        <h4 class="description">Nike Air Max</h4>
                    </div>
                </article>
                <article class="producto-individual">
                    <img src="images/nike-air-force.jpg" alt="Nike Air Force" class="product_img">
                    <div class="product">
                        <p class="price">$16.500</p>
                        <h4 class="description">Nike Air Force</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer></footer>

    </body>
</html>