<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sneakers_arg</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    
</head>
<body>
    <header>
        <div class="top-header">

            <!-- LOGO -->


       

            <!-- BARRA DE BUSQUEDA -->

            <div class="wrapper">
                <input type="text" class="input" 
                placeholder="¿Que desea buscar?">
                <div class="searchbtn"><i class="fas fa-search"></i></div>
            </div>
            


            <!-- BARRA MENU -->


            <div class="menu">
                <ul>
                    <li><a href="/sign-up">Inicio</a></li>
                    <li><a href="/log-in">Ingresá</a></li>
                    <li><a href="/register">Registrate</a></li>
                    <li><a href="/carrito">Login</a></li>
                    <li><a href="/carrito">Carrito</a></li>

                </ul>
                    </div>
    </header>

    <!-- CARRUSEL DE PRODUCTOS -->


    <main>
        <p>futuro carrusel</p>



        <!-- ULTIMOS PRODUCTOS -->

        <h3>Últimos productos</h3>
        <div class="products">
            <article>
                <!-- <img src="" alt=""> -->
                <div class="main-article">
                    <h4 class0="description">Nike Air</h4>
                    <p class="price">$20.000</p>
                </div>
            </article>
            <article>
                <!-- <img src="" alt=""> -->
                <div class="main-article">
                    <h4 class0="description">Topper X Forcer</h4>
                    <p class="price">$15.000</p>
                </div>
            </article>
            <article>
                <!-- <img src="" alt=""> -->
                <div class="main-article">
                    <h4 class0="description">Nike Air Force</h4>
                    <p class="price">$25.000</p>
                </div>
            </article>
        </div>
    </main>
    <footer></footer>

    </body>
</html>