<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
    <main>
        <h4>prueba</h4>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>