<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenid@ de vuelta!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    
</head>
<body class="registro">
    <form action="/" method="POST" class ="form-box">
        <h1 class="title">Welome back :)</h3>
        <input type="text" name="name" placeholder="Nombre" required>
        <input type="text" name="surname" placeholder="Apellido" required>
        <input type="text" name="user" placeholder="Nombre de usuario" required>
        <input type="password" name="pass" placeholder="Contraseña" required>
        <input type="password" name="pass" placeholder="Confirmar contraseña" required>
        <input type="submit" value="Enviar">
    </form>
    
</body>
</html>