<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body class="formulario">
    
    <%- include('./partials/header') %>
    <main class="formulario-registro">
        <% if(locals.errors) { %>
         <% for ( let oneEror in errors ) { %>
            <p><% errors[oneEror].msg %></p>
        <% } %>
    <% } %>
        <form action="/register" method="POST" class ="form-box">
            <h1 class="title">Welcome back :)</h3>
            <input type="text" name="name" placeholder="Nombre">
            <% if (locals.errors && errors.name) { %>
                <div class="text-danger">
                   <%- errors %>
                </div>
            <% } %>
            
            <input type="text" name="surname" placeholder="Apellido">
            <input type="text" name="user" placeholder="Nombre de usuario" >
            <input type="password" name="pass" placeholder="Contraseña">
            <input type="password" name="confirm-pass" placeholder="Confirmar contraseña">
            <input type="submit" value="Enviar">
            <label><b>Imagen de perfil:</b></label>
            <input class="form-control" type="file" name="avatar"> 
                  
                </form>
            </main>
    <%- include('./partials/footer') %>
    
</body>
</html>

