<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body class="grid-container">
    <%- include('./partials/header') %> 
    
    <div class="products">
        <h2><%= user.name %></h2>
        <!-- No se sube la imagen a la base. -->

    </div>



    <%- include('./partials/footer') %> 
</body>
</html>