*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
    background-image: #dbdbdb;
}

div.top-header{
    flex-direction: row;
    padding: 5%
}

header{
    display: flex;
    background-color: #636363;
}

header ul li{
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    color: #000
}


/* MENU DE NAVEGACION */

.menu{
    background-color: #000;

}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a{
    color: white;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

.menu ul li a:hover{
    background-color: #495057;
}

.item-r{
    float: right;
}