*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
    background-color: #dbdbdb;
}

.header{
    height: 80px;
    background-color: #636363;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: black;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-style: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;;
}

.nav-menu-link:hover{
    background-color: #545454;
    transition: 0.5s;
}

/* BARRA DE BUSQUEDA */

.wrapper{
    max-width: 550px;
    width: 90%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper .input {
    width: 85%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
    background: white;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.drawer {
    font-size: 15px;
    color: white;
    float: center;
    cursor: pointer;
    display: none;
    margin-left: auto;
    padding: 10px;
}

#ckbox {
    display: none;
}


main{
    width: 90%;
    align-items: center;
    margin: auto;
}
main article div{
    padding: 15px;

}

main section.ultimos-productos{
    margin-top: 150px;
    
}

main section article.producto-individual{
    display: inline-block;
    position: relative;
    border: 1px solid #b3b3b3;
}

main section div a{
    text-decoration: none;
    color: black;
    justify-content:space-between;
}

main section article.producto-individual:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    cursor: grab;
}

main section article{
    background-color: #fff;
    margin-top: 10px;
    width: 300px;
}

main section article img{
    width: 100%;
}

main section h3{
    text-align: center;
}

.products{
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}

/* login */

body.formulario, html{
    height: 100%;
}

body.formulario{
    margin: 0;
    padding: 0;
    background: #dbdbdb;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-box{
    width: 300px;
    padding: 40px;
    background:#fff;
    text-align: center;

}

.title{
    font-weight: 500;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid black;
    width: 200px;
    outline: none;
    border-radius: 5px;
    transition: 0.25s;
}

.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus{
    width: 280px;
    border-color: gray;
}

.form-box input[type="submit"]{
    border: 0;
    background: #8a817c;
    cursor: pointer
}

.form-box input[type="submit"]:hover{
    border: 2px solid gray;
    background: none;
    cursor: pointer
}

/*register*/

body.registro, html{
    height: 100%;
}

body.registro{
    margin: 0;
    padding: 0;
    background: #dbdbdb;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* PORTADA */

main img {
    width: 900px;
    height: 400px;
    position: relative;
    top: 70px;
    left: 150px;
}


@media (max-width: 768px){
    body{
    padding-top: 70px;
}

.header{
    height: 60px;
}

.logo{
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
}

.nav-menu{
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #2c3e50;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    
    height: calc(200% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
}

.nav-menu-item{
    line-height: 70px;
}

.nav-menu-link:hover{
    background-color: none;
    color: #83c5f7;
}

.drawer{
    display: block;
}

#ckbox:checked ~ .nav-menu{
    left: 0;
}

#ckbox:checked ~ main{
    display: none;
}

}