*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    width: 100%;
}

body{
    font-family: sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    background-color: #ebebeb
}

.grid-container > *{
    padding: 10px;
    text-align: center;
}

/* HEADER */

.header{
    grid-area: header;
    background-color: #13ad3c
}

.nav{
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
}

.nav-link{
    color: black;
    text-decoration: none;
}

.logo{
    height: inherit;
    width: inherit;
    margin: auto;
}

.image-logo{
    height: 25px;
    width: 150px;
}

.portada{
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-style: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;;
}

.nav-menu-link:hover{
    background-color: #545454;
    transition: 0.5s;
}

.wrapper{
    width: 90%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper .input {
    width: 85%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
    background: white;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.drawer {
    font-size: 15px;
    color: white;
    float: center;
    cursor: pointer;
    display: none;
    margin-left: auto;
    padding: 10px;
}

#ckbox {
    display: none;
}


/* MAIN */

.main{
    grid-area: main;
}

main section.ultimos-productos{
    margin-top: 150px;
}

main section article.producto-individual{
    display: inline-block;
    position: relative;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
}
.producto-individual image{
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 10px
}

.texto{
    text-decoration: none;
    color: black;
}

.texto a{
    justify-content: center;
}

main section div a{
    text-decoration: none;
    color: black;
    justify-content:space-between;
}

main section article.producto-individual:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    cursor: grab;
}

main section.productos-destacados{
    margin-top: 10px;   
    width: auto;
}

.producto-destacado{
    display: inline-block;
    position: relative;
}

.product{
    display: inline;
}

main section h3{
    padding-bottom: 50px;
}

main section article.product-destacado{
    text-decoration: none;
    align-items: stretch;
    cursor: grab;
}

main section article{
    background-color: #fff;
    margin-top: 10px;
    width: 300px;
}

main section article img{
    width: 100%;
}

.products{
    display: flex;
    justify-content: space-around
}


/* FOOTER */

.footer{
    grid-area: footer;
    background-color: #9e9e9e;
    text-align: center;
    height: auto;
}


/* login */

.formulario{
    height: 100%;
}

.formulario{
    margin: 0;
    padding: 0;
    background: #dbdbdb;
    
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-box{
    width: 300px;
    padding: 40px;
    background:#fff;
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 15%;
    
}

.title{
    font-weight: 500;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid black;
    width: 200px;
    outline: none;
    border-radius: 5px;
    transition: 0.25s;
}

.form-box input[type="submit"]{
    border: 0;
    background: #8a817c;
    cursor: pointer
}

.form-box input[type="submit"]:hover{
    border: 2px solid gray;
    background: none;
    cursor: pointer
}

.footer{
    grid-area: footer;
    background-color: #9e9e9e;
    text-align: center;
    height: auto;
}

/*register*/

.formulario-registro{
    padding: 10px;
}

/*Carrito*/

.titulo{
    width: 300px;
    height: 50px;
    position:relative;
    top:50px;
    left: 200px;
   
}

.contenedor{
    width: 400px;
    height: 500px;
    background-color: #636363;
    position:relative;
    bottom: 340px;
    left: 150px;


}

.compra{
    display: flex;
    justify-content:space-around;
}

.texto-carrito{
    align-items: center;
    display: inline-block;
    height: 100px;
    justify-content: center;
    width: 200px;
    border-bottom: 1px solid #b3b3b3;
}

.boton-compra{
    border: 0;
    background: #8a817c;
    cursor: pointer
}

.boton-compra:hover{
    border: 2px solid gray;
    background: none;
    cursor: pointer
}

.boton-compra{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid black;
    width: 200px;
    outline: none;
    border-radius: 5px;
    transition: 0.25s;
}    

/*DETALLE DEL PRODUCTO*/

.texto-producto{
    border: 2px solid gray;
}

/*ADMIN*/

.formularios-admin{
    display: flex;
    justify-content: space-around
}

.form-box-admin{
    width: 300px;
    padding: 40px;
    background:#fff;
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 15%;
    border: 2px solid gray
}

.form-box-admin input[type="text"],
.form-box-admin input[type="password"],
.form-box-admin input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid black;
    width: 200px;
    outline: none;
    border-radius: 5px;
    transition: 0.25s;
}

.form-box-admin input[type="submit"]{
    border: 0;
    background: #8a817c;
    cursor: pointer
}

.form-box-admin input[type="submit"]:hover{
    border: 2px solid gray;
    background: none;
    cursor: pointer
}

/* CARRUSEL */

div#slider { overflow: hidden; } /* las imágenes no van a salir del márgen de la pantalla*/
div#slider figure img { width: 20%; float: left; }

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; /*el movimiento se va a mantener de forma indefinida -infinito-*/
}

.image-slider{
    width: 500px;
    height: 300px;
}


/*esta parte del código define el movimiento de las imágenes a la izquierda*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

@media (max-width: 768px){
.header{
    height: 80px;
}

.logo{
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
}

.nav{
    vertical-align: middle;
}

.nav-menu{
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #2c3e50;
    position: absolute;
    top: 80px;
    width: 100%;
    padding: 20px 0;
    z-index: 1;
    
    height: auto;

    right: 100%;

    
}

.nav-menu-item{
    line-height: 70px;
}

.nav-menu-link:hover{
    background-color: none;
    color: #83c5f7;
}

.drawer{
    display: block;
}

.products{
    display: block;
}

.producto-individual{
    width: 90%;
}

.product_img-destacado{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.box{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.foto{
    width: 80%;
    height: 80%;
}

#ckbox:checked ~ .nav-menu{
    left: 0;
}

/*DETALLE DEL PRODUCTO*/

.compra{
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #b3b3b3;
}

/*ADMIN*/
.form-box-admin{
    position: absolute;
}

}